.add_form{
    padding-right: 80px  ;
}
.add_form p, .add_contact_form p{
    font-weight: bold;
    font-size: 15px;
}
.add_form_title{
    width: 100%;
    border-bottom: 1px solid #F7F1FE;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 24px;
}
.form_add_photo{
    display: flex;
    align-items: center;
}
.form_add_photo .form_group_area{
    margin-bottom: 12px;
}
.form_add_photo input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}
.form_add_photo .label{
    width:90px;
    border:1px solid #F7F1FE;
    border-radius:12px;
    display:block;
    padding:15px;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center;
}
.form_add_photo .label i{
    display:block;
    font-size:30px;
    padding-top:16px;
}
.form_add_photo .label i,.form_add_photo .label .title{
    color:#8C7AA4;
    transition:200ms color
}
.form_add_photo .label:hover{
    border:1px solid #000;
}
.form_add_photo .label:hover i,.form_add_photo .label:hover .title{
    color:#000
}
.form_add_photo .btn-tertiary{
    color:#6B3BA8;
    background: #F1EAFF;
    width: fit-content;
    display:block;
    border-radius: 12px;
}

.form_add_photo .btn-tertiary:hover,.form_add_photo .btn-tertiary:focus{
    color:black;
}
.form_add_photo .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
}
.form_add_photo .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:8px 16px;
    cursor:pointer
}
.form_add_button{
    margin-left: 20px;
}
.about_compony_from{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.about_compony_from input{ 
    width: 316px;
    border: 1px solid #F7F1FE;
    border-radius: 12px;
    font-size: 14px;
    padding: 12px 16px;
    box-sizing: border-box;
    margin-bottom: 12px;
}
.about_compony_from textarea {
    width: 316px;
    font-size: 14px;
    height: 170px;
    background: #FFFFFF;
    border: 1px solid #F7F1FE;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 12px;
    resize: none;
}
.info_for_partner{
    width: 316px;
    margin-top: 24px;
}
.info_for_partner span{
    color: #8C7AA4;
}
.add_contact{
    padding-left: 17px;
}
.add_contact_input, .add_network_input{
    position: relative;
    color: #8C7AA4;
}
.add_contact_form p{
    margin-bottom: 0;
}
.add_contact_input input, .add_network_input input{
    padding: 12px 0;
    padding-left: 56px;
    width: 316px;
    border: 1px solid #F7F1FE;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    margin-top: 12px;
}
.add_contact_input i, .add_network_input i{
    position: absolute;
    top: 22px;
    left: 16px;
    font-size: 20px;
}
.add_network_input img{
    width: 25px;
}
.add_contact button{
    margin-top: 12px;
    color: #6B3BA8;
    padding: 3px 51px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #6B3BA8;
    font-size: 14px;
    display: flex;
    align-items: center;
    z-index: 55;
    cursor: pointer;
}
.add_contact button i{
    font-size: 20px;
    margin-right: 12px;
    margin-top: 7px;
}
.add_networks p{
    font-style: 15px;
    font-weight: bold;
    margin-top: 35px;
}
.add_networks button{
    margin-top: 24px;
    color: #fff;
    border: none;
    width: 316px;
    background-color: #886cad;
    padding: 12px 51px;
    border-radius: 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.add_networks button:hover{
    background-color: #6B3BA8;
}
