.alone_card{
    width: 24%;
    border-radius: 12px;
    background: #FFFFFF;
    border: 1px solid #F7F1FE;
    margin-bottom: 12px;
}
.card_img{
    position: relative;
}
.card_main_img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    height: 164px;
}
.card_favorite_img{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
}
.card_logo{
    position: absolute;
    border: 1px solid #F7F1FE;
    border-radius: 12px;
    left: 15px;
    bottom: -24px;
    width: 48px;
    height: 48px;
}
.card_sale{
    position: absolute;
    padding: 0 5px;
    height: 25px;
    left: 15px;
    background-color: rgba(227, 27, 75, 1);
    top: 0;
    border-radius: 0 0 6px 6px;
}
.card_sale p{
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    padding: 2px 3px;
    margin-top: 2px;
}
.card_tittle p{
    font-size: 15px;
    font-weight: 700;
    line-height: 150%;
    margin-left: 80px;
    margin-top: 5px;
}
.card_description{
    padding: 0 12px;
}
.card_description p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.card_price{
    padding: 12px;
    display: flex;
    align-items: flex-start;
}
.new_price{
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    color: #4F2782;
}
.old_price{
    margin: 0;
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8C7AA4;
    text-decoration-line: line-through;
}