.button_group{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    background: #F7F1FE;
    border-radius: 12px;
    width: 465px;
    margin-bottom: 21px;
}
.button_group .btn{
    background-color: #F7F1FE;
    color: #6B3BA8;
    padding: 7px 20px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
}
.button_group .btn.active{
    background-color: #fff;
}